@media screen and (max-width: 501px) and (min-width: 320px) {
  .blue-frame{
    margin: 0px -10vw;
  }
  .blue-frame {
    padding: 35px 35px 35px 30%;
  }
  .results-container {
    padding: 10pt 5pt;
  }
}